<form @submit.prevent="submit()">
    <template v-for="field in fields">
        <template v-if="shouldShowField(field)">
            <QuickForm v-if="field.type === 'QuickForm'"
                v-model="document[field.model]"
                :fields="field.fields"
                @input="$emit('input', document)"
                @cancel="$emit('cancel')"
                style="margin-bottom: 0.5rem;"></QuickForm>

            <component v-else
                :is="field.type"
                v-model="document[field.model]"
                @input="$emit('input', document)"
                @cancel="$emit('cancel')"
                :field="field"></component>
        </template>
    </template>
</form>
